<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name="com.foodykey.food.ControllerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        tools:overrideLibrary="androidx.viewbinding"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:usesCleartextTraffic="true"
        tools:targetApi="s">
        <activity android:name="com.foodykey.food.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.foodykey.food.activity.SignInActivity"
            android:exported="false" />
        <activity
            android:name="com.foodykey.food.activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.foodykey.food.activity.ForgotPasswordActivity"
            android:exported="false"/>
        <activity
            android:name="com.foodykey.food.activity.MainActivity"
            android:exported="false"/>
        <activity
            android:name="com.foodykey.food.activity.FoodDetailActivity"
            android:exported="false"/>

    </application>

</manifest>